<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/Vue.js"></script>
    <script type="text/javascript" src="/service_worker.js"></script>
    <script type="text/javascript" src="js/register.js"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="img/favicon.png" width="40rem" height="40rem" class="d-inline-block align-top" alt="">
                </a>
            </nav>
            <div class="navbar-right btn-group" id="btns">
                <!-- <a href="login"> -->
                <button class="btn btn-primary" id="login_btn" @click="goPath('login')">登入</button>
                <!-- </a>
                <a href="register"> -->
                <button class="btn btn-primary" id="register_btn" @click="goPath('register')">註冊</button>
                <!-- </a> -->
            </div>
        </div>
    </nav>

    <div class="paddingTop row justify-content-center" id="form-container" style="padding-top:1.5vh;">
        <div class='col-md-4' id='card'>
            <div class="container-fluid text-center" style="padding-top:10px;padding-bottom:8px;">
                <h3>很多人想認識你，趕快登入！</h3>
            </div>
            <card_content></card_content>
        </div>
        <div class='col-md-4'>
            <keep-alive>
                <component :is="view"></component>
            </keep-alive>
        </div>
    </div>

    <script type="text/x-template" id="login_form"> 
      <div>
        <h2 class="ltext">登入 <span class="vmtext">Voice Messenger</span></h2>
        <div class="container" style="padding-top:5vh;">
        <form class="form-horizontal" action="./login" method="POST">
            <div class="form-group row">
                    <label class="col-form-label  col-sm-2">信箱</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" v-model="email" placeholder="註冊時使用的信箱">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-sm-2">密碼</label>
                    <div class="col-sm-10">
                      <input type="password" name="password" pattern="[\w]+" class="form-control" v-model="password" placeholder="密碼">
                    </div>
                  </div>
          <div class="text-center">
            <button class="btn btn-info" type="submit">登入</button>
          </div>
        </form>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="register_form">
      <div> 
        <h2 class="ltext">立即註冊</h2>
        <div class="container" style="padding-top:5vh;">
        <form id="register" class="form-horizontal" action="/register" method="POST">
          <div class="form-group row">
            <label class="col-form-label  col-sm-2">信箱</label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" v-model="email" placeholder="常用信箱">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2">密碼</label>
            <div class="col-sm-10">
              <input type="password" name="password" pattern="[\w]+" class="form-control" v-model="password" placeholder="密碼">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label  col-sm-2">暱稱</label>
            <div class="col-sm-10">
              <input type="text" name="nickname" class="form-control" v-model="nickname" placeholder="其他人將會看見你的暱稱">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label  col-sm-2">性別</label>
            <div class="col-sm-4">
              <select name="gender" form="register" class="form-control">
                <option value="0" selected="selected">保密</option>
                <option value="1">男</option>
                <option value="2">女</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label  col-sm-2">年齡</label>
            <div class="col-sm-3">
              <input type="number" name="age" class="form-control" min="1" step="1" value="20">
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-info" type="submit">註冊</button>
          </div>
        </form>
        </div>

      </div>
    </script>
    <script type="text/x-template" id="card_content">
      <div>
        <div class="card text-center" style='overflow:hidden;' >
        <br></br>
           <img class="card-img-top" :src="photo" style="width:20rem;display:block; margin:auto;">
         <div class="card-body">
            <h1 class="card-title">{{name}}</h1>
          </div>
          <div class="card-body">
            <audio id="voice" @ended="handleEnded()">
              <source :src="voice" type="audio/mpeg">
            </audio>
            <button type="button" class="btn btn-info btn-lg" @click="playOrStop()">
              <i class="fa fa-play" aria-hidden="true"></i> {{playerMsg}}
            </button>
          </div>
          <br></br>
          <a href="#" class="btn btn-primary" onclick="alert('趕快註冊登入！送出更多交友邀請！')">送出邀請</a>
        </div>
      </div>
   </script>


    <script>
        Vue.component('loginView', {
            template: '#login_form',
            data: function () {
                return {
                    email: '',
                    password: '',
                }
            },
            deactivated() {
                this.password = '';
            }
        });

        Vue.component('registerView', {
            template: '#register_form',
            data: function () {
                return {
                    email: '',
                    password: '',
                    nickname: '',
                    firstname: '',
                    lastname: ''
                }
            },
            deactivated() {
                this.password = '';
            }
        })

        var bus = new Vue();

        new Vue({
            el: '#btns',
            data: {
                path: 'login'
            },
            methods: {
                goPath: function (path) {
                    this.path = path;
                    bus.$emit('updateView', path);
                    window.history.pushState({ path: path }, "", path);
                }
            }
        })

        window.onpopstate = function (event) {
            if (event.state && event.state.path) {
                bus.$emit('updateView', event.state.path);
            } else { // event.state == null
                bus.$emit('updateView', 'login');
            }
        }

        new Vue({
            el: "#form-container",
            data: {
                view: 'loginView'
            },
            created() {
                let self = this;
                bus.$on('updateView', function (path) {
                    self.view = path + "View";
                })
            }
        })
    </script>

    <script>
        Vue.component('card_content', {
            template: '#card_content',
            data: function () {
                return {
                    name: 'Mica',
                    photo: '/img/home.png',
                    voice: '',
                    playerMsg: "Play"
                }
            },
            methods: {
                playOrStop: function () {
                    let voice = document.getElementById("voice");
                    if (this.playerMsg == "Play") {
                        this.playerMsg = "Stop";
                        voice.play();
                    } else {
                        this.playerMsg = "Play";
                        voice.pause();
                        voice.currentTime = 0;
                    }
                },
                handleEnded: function () {
                    this.playerMsg = "Play";
                }
            }
        })
        new Vue({ el: "#card" });
    </script>
    <script type="text/javascript" src="card/card.js"></script>
</body>

</html>