.navbar-light {
    background-color: rgb(28, 38, 51);
    padding:0 0 0 10px;
}
body{
 height:fit-content; 
}
html {
  height:fit-content;
}
#btns{
  margin-right:10px;
}
.ltext{
  text-align:center;
  margin:1rem;
  padding-top:10px;
}
.vmtext{
  color: rgb(0, 140, 255);
}
label{
  font-size:17px;
}
#form-container{
  margin:auto;
}
