body{
background: -webkit-linear-gradient(  #CA8EFF,#750075);
background: -o-linear-gradient( #CA8EFF,#750075);
background: -moz-linear-gradient( #CA8EFF,#750075);
background: linear-gradient(  #CA8EFF,#750075);
padding:0;
margin:0;
}
#ideal{
width:100%;
      text-align:center;
      font-size:60px;
      line-height:300px;
background: -webkit-linear-gradient(  #FDF,#E800E8);
background: -o-linear-gradient( #FDF,#E800E8);
background: -moz-linear-gradient( #FDF,#E800E8);
background: linear-gradient(  #FDF,#E800E8);
}
#ideal > p{
  font-family: 'cwTeXYen';
  font-weight:800;
color:#ddd;
}
#team{
margin:300px 0px;
}
#team>p{
  font-size:50px;
  text-align:center;
  color:#ddd;
}
#team > div{
width:fit-content;
position:relative;
left:50%;
     margin-left:-450px
}
.card>img{
width:300px;
      border-radius:100%;
}
.card{
display:inline-block;
}
#vtim{
  margin-left:150px;
}
.card > p{
color:#ddd;
      text-align:center;
      font-size:x-large;
}
@font-face {
  /*圓體*/
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}


