#forum_container {
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    width: 100%;
}

.forum-list {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.forum-goto-post {
    cursor: pointer;
}

.post-entry-image {
    max-width: 50px;
    position: center;
}

.post-entry:hover{
    background-color: rgb(204, 203, 203);
    cursor: pointer;
}

.post-cancel {
    color: grey;
}

.post-publish-area {
    background-color: white;
    color: black;
}

.post-textarea {
    border: solid 0px black;
}
